@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
   margin: 0;
   padding: 0;
}

body{
    background-color: rgb(246, 246, 246);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 14px;
}

/*Estilos del menu de navegación*/
.menu-bar{
    background-color: black;
    display: flex;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

/*Quitar los puntos al UL (Viñetas) */
ul{
    list-style-type: none;
}

/*Quitar la decoracion por defecto de las lista*/
li{
    list-style: none;
    text-decoration: none;
}

/*Quitar decoracion por defecto de los enlaces*/
a{
    text-decoration: none;
    color: white;
}

/*agregar efecto hover al enlace de la opción*/
a:hover{
    color: red;
}

.hero{
    background-color: rgb(251, 251, 251);
    width: 100%;
}

.hero h1{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.hero b{
    color: red;
}

.hero b:hover{
    color: black;
}

.hero h2{
    text-align: center;
}

.hero p{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 800px;
}

/*Colocar circular la imagen de Perfil*/
.img-profile{
    width: 270px;
    height: 300px;
    object-fit: cover;
    border-radius: 60%;
}

i{
    margin-top: 50px;
    justify-items: center;
    font-size: 30px;
}

i:hover{
    color: red;
}

button{
    width: 150px;
    height: 35px;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    font-size: 16px;
    border: none;
}

button:hover{
    background-color: red;
    color: white;
}

/* Seccion de Sobre mi*/
.me-section{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: auto;
}

.me-section b{
  color: red;
}

.me-section b:hover{
    color: white;
}

.me-section h1{
    margin-top: 40px;
    margin-bottom: 22px;
}

.me-section h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.me-section p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 30px;
}

/*Diseño de Seccion de Mis Conocimientos*/
.knowledge-section{
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    padding: auto;
}

.knowledge-section h1{
    padding-top: 20px;
    margin-bottom: 25px;
}

.knowledge-section b{
    color: red;
}

.knowledge-section b:hover{
   color:black;
}

.tech-knowledge h3{
    margin-bottom: 25px;
}

img {
    width: auto;
    height: 80px;
    margin-bottom: 35px;
    margin-top: 20px;
}

.projects-section{
    background-color: black;
    width: 100%;
    height: 400px;
    color: white;
    text-align: center;
}

.projects-section h1{
    padding-top: 30px;
}

.projects-section b{
    color: red;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-projcts{
    margin-top: 30px;
    background-color: white;
    width: 180px;
    height: 250px;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: red 10px 8px ;
}

.card-projcts img{
    width: auto;
    height: 100px;
}










